.text-input {
  color: #aaa;
  font-size: 16px;
}

.form-element {
  position: relative;
}

.text-input input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.text-input input {
  text-indent: 1em;
}

.text-input .fa {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}
